# For testing Dependency loaders
openwisp_controller @ https://github.com/openwisp/openwisp-controller/tarball/master

django-allauth>=0.63.3 # not directly required, pinned by Snyk to avoid a vulnerability
