# For testing Dependency loaders
openwisp_controller @ https://github.com/openwisp/openwisp-controller/tarball/master

twisted>=24.7.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
